.injectedWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

#injectedWebcamContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#injectedWebcam {
  width: 100%;
}

#injectedCanvas {
  display: none;
}

#injectedReadImageBtn {
  padding: 10px;
  font-size: 20px;
}